@import '~bootstrap/scss/bootstrap';

.game-container {
  height: 100vh;
}

.board {
  margin: auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);

  background: url('https://i.imgur.com/G24ElS3.jpg') no-repeat center;
  background-size: cover;
}

.box {
  // creating column lines
  border-right: 1px solid black;
  // creating row lines
  border-bottom: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  // this is the min of the height for each box.
  min-height: calc(100% / 3);

  background-color: white;

  color: white;
  font-size: 15vh;
  text-shadow: 2px 2px rgba(0,0,0, .25);

// gets rid of the far right border of the board.
  &:nth-child(3n) {
    border-right: 0;
  }

  &:nth-last-child(-n+3) {
    border-bottom: 0;
  }
  &:hover {
    background-color: LightBlue;
  }

user-select: none;

}
